#root {
  max-width: 1280px;
  margin: 0 ;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.nav_container{
  font-size: 1.8rem;
padding: 50px;
 display: flex;
 justify-content: space-between;


}

.container{

  width: 1280px;
  height: 150px;
  background-color: rgb(246, 132, 217);
 
}



a.active {
  color: rgb(249, 62, 137);
}


